:root {
	color-scheme: light dark;
}

body {
	font-family: sans-serif;
	padding: 2rem;
	background: #f5f5f5;
	color: #111;
	transition: background 0.3s, color 0.3s;
}

body.dark-mode {
	background: #121212;
	color: #e0e0e0;
}

h1 {
	margin-bottom: 1rem;
}

input[type="file"],
select,
input[type="text"] {
	margin-bottom: 1rem;
	display: block;
	padding: 0.5rem;
	width: 100%;
	max-width: 400px;
	background: #fff;
	color: #111;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: background 0.3s, color 0.3s, border-color 0.3s;
}

body.dark-mode input[type="file"],
body.dark-mode select,
body.dark-mode input[type="text"] {
	background: #2a2a2a;
	color: #e0e0e0;
	border: 1px solid #555;
}


.highlight {
	background: #fff;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: background 0.3s, box-shadow 0.3s;
}

body.dark-mode .highlight {
	background: #1e1e1e;
	box-shadow: 0 2px 3px rgba(255, 255, 255, 0.2);
}

.meta {
	font-size: 0.9em;
	color: #555;
	margin-bottom: 0.5rem;
	transition: color 0.3s;
}

body.dark-mode .meta {
	color: #bbb;
}

.text {
	font-size: 1.1em;
}

#topRightMenu {
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: flex;
	gap: 0.5rem;
	z-index: 999;
}

.icon-btn {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	color: inherit;
}
#helpbox {
	display: none;
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	width: 95vw;
    max-width: 500px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
body.dark-mode #helpbox {
	background: #1f1e1e;
    box-shadow: 0 0 10px rgba(254, 254, 254, 0.3);
}
footer {
	position: fixed;
	bottom: 0rem;
	right: 0rem;
	font-size: 0.9em;
	color: gray;
	background: transparent;
	pointer-events: none; /* Optional: makes it non-interactive */
}


